* {
    margin: 0;
    padding: 0;
}

/*css mono*/
.hero {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;

}

.logo-area {
    width: 50%;
    height: 100%;
    background-color: bisque;
}

.nav-items {
    width: 50%;
    height: 100%;
    background-color: blue;
}

.content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*css mono*/



/*css atha*/

/*css atha*/



/*css attar*/


.judul {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #F5F5EA;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    margin-bottom: 1.5%;
    font-size: x-large;
    margin-left: 90px;


}

.wide {
    background-color: black;
    width: 90vw;
    height: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 85px;
}

.line-wrapper {
    background-color: black;
    width: 280px;
    height: 1.5px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: auto;
    margin-left: -5px;
    margin: 6px;
    /* margin-bo: 10px; */
}

.gallery {
    width: 100vw;
    height: 100vh;
    color: black;
    background-color: #F5F5EA;
    align-items: center;
}



.container {
    margin-top: 2%;
    width: 100%;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

}

.wrapper {
    margin: 1rem;
    /* border: 1.5px solid black; */
    /* border-radius: 10px; */
    background-color: #F5F5EA;
    height: 350px;
    width: 350px;
    list-style: none;
    display: flex;
    align-items: left;
    align-content: left;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 50px; */
    font-style: normal;
    font-family: "Poppins";
    font-size: small;
    margin: 25px;
    margin-bottom: 95px;
    /* box-shadow: 3px 3px 1px grey; */
}

li {
    display: flex;
    justify-content: left;
    align-items: left;
    align-content: center;
    margin-bottom: 5px;
    font-weight: 500;
    /* opacity: ; */

}

.line-li {
    margin: auto;
    padding: auto;
    height: 1%;
    display: flex;
    background-color: black;
    width: 280px;
    align-items: left;
    justify-content: left;
    margin-right: 200px;
    background-color: #575750;
    border-radius: 10px;
    opacity: 35%;
    /* margin-top: 9px; */

}

.btn {

    border-radius: 20px;
    background-color: black;
    width: 200px;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 30px;

}


.btn:hover {
    background-color: #F5F5EA;
    color: black;
    border: solid black;
    border-radius: 20px;
}

img {
    display: flex;
    margin-bottom: 20px;

}


/*css attar*/



/* bagian footer */

/* bagian footer */